<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean class="com.ganesh.ws.ResonseSignatureInterceptor" />
	<bean id="myPasswordCallback" name="myPasswordCallback"
		class="com.ganesh.ws.ServerPasswordCallback"></bean>


	<jaxws:client id="fundTranferManager"
		address="http://localhost:8080/jaxwscxf/services/FundTranferManager"
		serviceClass="com.ganesh.ws.FundTranferManager">
		<jaxws:properties>
			<entry key="ws-security.cache.config.file" value="/cxf-ehcache.xml" />
		</jaxws:properties>
		<jaxws:outInterceptors>
			<bean class="com.ganesh.ws.ResonseSignatureInterceptor"
				autowire="byType">
			</bean>
		</jaxws:outInterceptors>
	</jaxws:client>

</beans>